@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,300;1,500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    background-image: linear-gradient(rgb(15, 15, 54), rgb(44, 44, 116));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    color: white;
}

.calculator_container{
    border:1px solid white;
    border-radius: 40px;
    background-color: black;}

.calculator_container:hover{
    box-shadow: 0 0 8px white;
}


.screen, .preview{
    display: flex;
    justify-content:end;
    align-items: center;
    margin-right: 10px;
}

.preview{
    padding: 3px;
    margin-right: 16px;
}

.screen{
    padding: 10px 0;
    color: white;
}

.screen span, .preview span{
    color:rgb(161, 160, 160)
}

.preview span{
    font-size: 20px;
}
.screen span{
    font-size: 60px;
}

.calculator_container .btns{
    display: grid;  
    grid-template-columns: auto;
    gap:10px;
    margin:10px;
}

.calculator_container .btns > [class |= "row"]{
    display: flex ;
    justify-content: space-between;  
    gap:10px;
}


.calculator_container .btns > [class |= "row"] > div{
    border-radius: 50%;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    transition: transform 0.2s ease-in-out;
}

.calculator_container .btns > [class |= "row"] > div:hover{
    background-color: rgb(128, 128, 126);
}

.calculator_container .btns > [class = "row-1"] > div:hover{
    opacity: 0.9;
}
.calculator_container .btns > [class |= "row"] > div:hover{
    cursor: pointer;
    transform: translate(-3px, -3px);
}

.calculator_container .btns > [class = "row-1"] > div{
    background-color: rgb(86, 86, 86);
}

.calculator_container .btns [class = "row-5"] > div:first-child{
    flex-grow: 1;
    border-radius: 40px;    
}

.calculator_container .btns > [class |= "row"] > div:last-child{
    background-color: orange;
}

.calculator_container .btns > [class |= "row"] span{
    color: white;
    text-align: center;
    font-size: 30px;
}
